<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrasi</title>
    <link rel="stylesheet" href="bootstrap-5.3.8-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="Layout/style.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card border-0 rounded-4 shadow-lg">
                    <div class="card-body py-5 px-4">
                        <div class="text-center mb-4">
                            <h3 class="fw-bold text-dark">Registrasi Siswa</h3>
                            <p class="text-muted">isi data untuk membuat akun</p>
                        </div>
                        <form action="" method="POST">
                        <div class="mb-3">
                            <label for="nis" class="form-label fw-semibold text-secondary">Nis</label>
                            <input type="text" name="nis" class="form-control bg-light border-0" placeholder="masukan nis mu" required>
                        </div>
                        <div class="mb-3">
                            <label for="nama" class="form-label fw-semibold text-secondary">Nama</label>
                            <input type="text" name="nama" class="form-control bg-light border-0" placeholder="masukan nama mu" required>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                            <label for="password" class="form-label fw-semibold text-secondary">Password</label>
                            <input type="password" name="password" class="form-control bg-light border-0" placeholder="masukan password mu" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="konfirmasi" class="form-label fw-semibold text-secondary">Konfirmasi</label>
                            <input type="password" name="konfirmasi_password" class="form-control bg-light border-0" placeholder="konfirmasi password mu" required>
                        </div>
                        </div>
                        <button type="select" name="register" class="btn btn-dark btn-lg w-100 mt-3">Buat Akun</button>
                        </form>
                        <div class="text-center mt-4">
                            <span class="text-muted">sudah punya akun?<a href="login.php" class="fw-bold text-dark text-decoration-none">login</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>